{% extends "haikuapp/base.html" %}
{% load static %}
{% block title %} {{ title }} {% endblock title %}
{% load crispy_forms_tags %}

{% block custom_css %}
<style>
    body{
        background-image: url({% static 'haikuapp/images/magenta-bg.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 100vh;
    }

    .outerCon{
        padding-top: 4%;
    }
    .container2{
        padding: 3%;
        width: 40%;
    }
    .iconSize{
        width: 10px;
    }
    .list-group-item{
        border: 1px solid #bababa;
    }
    .mr-10{
        margin-right: 10px;
    }

    @media only screen and (max-width: 1300px){
        .outerCon{
            padding-top: 10%;
            padding-bottom: 20%;
        }
        .container2{
            width: 80%;
        }
    }
</style>
{% endblock custom_css %}

{% block content %}
{% include "haikuapp/navigation_bar.html" %}

<div class="outerCon">
    <div class="w-sm-100 mx-auto container2 card">
        <div class="h3">{{ title }}</div>

            {% if success_msg %}
            <div class="alert alert-success alert-sm alert-dismissible fade show small mx-auto w-100" role="alert">
                <strong>{{ success_msg }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% elif err_msg %}
            <div class="alert alert-danger alert-sm alert-dismissible fade show small mx-auto w-100" role="alert">
                <strong>{{ err_msg }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}

        <!-- Category Form -->
        <form method="POST">
            {% csrf_token %} <!-- cross-site request forgery -->
            <div class="row p-4">
                <div class="col-12 p-2">
                    <label class="form-label">Category Name<span class="text-danger">*</span></label>
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="d-flex flex-row-reverse pt-3">
                    <a class="btn btn-grey" href="/user_haiku">Back</a>
                    <button type="submit" class="btn btn-magenta mr-10">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}