{% load static %}

<div class="row bg-dark text-light mt-4">
    <div class="col-md-6 p-4">
        <div class="w-75 mx-auto">
            <div class="h4 pb-3">
                <span class="align-top pr-6">
                    <img src="{% static 'haikuapp/images/weHaiku-white.png' %}" width="40"></span>
                <span class="align-bottom text-magenta-light">weHaiku</span>
            </div>
            <p class="small">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <p class="small">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </div>
    </div>
    <div class="col-md-3 p-4 links">
        <div class="w-75 mx-auto">
            <div class="h5">LINKS</div>
            <div><a href="/" class="small">Home</a></div>
            <div><a href="#" class="small">History</a></div>
            <div><a href="/submit_an_entry" class="small">Submit an Entry</a></div>
            <div><a href="#" class="small">About Us</a></div>
        </div>

    </div>
    <div class="col-md-3 p-4">
        <div class="w-75 mx-auto">
            <div class="h5">SOCIAL</div>
            <div class="d-flex justify-content-start">
                <div class="socialLnk"><img src="{% static 'haikuapp/images/facebook.png'%}" width="27"></div>
                <div class="socialLnk"><img src="{% static 'haikuapp/images/linkedin.png'%}" width="27"></div>
                <div class="socialLnk"><img src="{% static 'haikuapp/images/twitter.png'%}" width="27"></div>
                <div class="socialLnk"><img src="{% static 'haikuapp/images/email.png'%}" width="27"></div>
            </div>

        </div>
    </div>
    <div class="col-12 bg-magenta text-center p-3 text-light">
        <div>© 2022 weHaiku. All rights reserved.</div>
    </div>
</div>