{% extends "haikuapp/base.html" %}
{% load static %}
{% block title %} Home Page {% endblock title %}


{% block content %}
{% include "haikuapp/navigation_bar.html" %}

<div class="sliderCon">
    <div class="slider">
        <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
        <input type="radio" name="slider" title="slide2" class="slider__nav"/>
        <input type="radio" name="slider" title="slide4" class="slider__nav"/>
        <div class="slider__inner">
            <div class="slider__contents slider1">
                <div class="row bannerCon1">
                    <div class="col-md-6">
                        <img src="{% static 'haikuapp/images/person-writing.png' %}"
                             class="slider__image w-75 w-sm-100">
                    </div>
                    <div class="col-md-6">
                        <p class="slider__txt">Write us a story!</p>
                        <p class="slider__subText">As random as it could be
                            <br>In just 3 lines,
                            <br>You can't waste a Time!
                        </p>
                        <div class="w-100" style="position: relative;">
                            <a href="#" class="primaryButton">
                                <span class="text">Submit an Entry</span>
                                <span class="arrow-text" style="padding-left: 8%; font-size: large;">→</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__contents slider2">
                <div class="row bannerCon1">
                    <div class="col-md-6">
                        <img src="{% static 'haikuapp/images/person-writing2.png' %}"
                             class="slider__image w-75 w-sm-100">
                    </div>
                    <div class="col-md-6">
                        <p class="slider__txt">The joy of poetry</p>
                        <p class="slider__subText">empowers us to play with words
                            <br>Isn't it interesting and fun?
                            <br>as if flowers were dancing in the sun.
                        </p>
                        <div class="w-100" style="position: relative;">
                            <a href="#" class="primaryButton">
                                <span class="text">Submit an Entry</span>
                                <span class="arrow-text" style="padding-left: 8%; font-size: large;">→</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__contents slider3">
                <div class="slider3_content">
                    <div class="sliderTextBox p-4">
                        <p class="slider__txt" style="padding-top:0;">Do not rush, <br>Do not hush</p>
                        <p class="slider__subText">Keep your head thinking,
                            <br>keep your hands moving
                            <br>and write those thoughts!
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__contents"></div>
        </div>
    </div>
</div>
{% endblock content %}
