{% extends "haikuapp/base.html" %}
{% load static %}
{% block title %} Home Page {% endblock title %}

{% block custom_css %}
<style>
    .famousCon{
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding-bottom: 10%;
    }
    .mastersCon{
        max-height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin-bottom: 50%;
    }
    .masters-bg{
        position: relative;
        background-attachment: fixed;
        min-height: 300px;
    }
    .masters-text{
        background-color:#c8277d;
    }
    .oopsText{
        font-size: 15vh;
        font-weight: 600;
        color: white;
    }
    .boxHeader{
        background-color: #c8277d;
        color: white;
        max-width: 240px;
        text-align: center;
        border-radius: 15px 50px 20px;
        position: relative;
    }

    @media only screen and (max-width: 768px) {
        .oopsText{
            font-size: 8vh;
            font-weight: 600;
            color: white;
        }
    }

</style>
{% endblock custom_css %}


{% block content %}
{% include "haikuapp/navigation_bar.html" %}


<!-- Slider-->
<div class="sliderCon">
    <div class="slider">
        <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
        <input type="radio" name="slider" title="slide2" class="slider__nav"/>
        <input type="radio" name="slider" title="slide4" class="slider__nav"/>
        <div class="slider__inner">
            <div class="slider__contents slider1">
                <div class="row bannerCon1">
                    <div class="col-md-6">
                        <img src="{% static 'haikuapp/images/person-writing.png' %}"
                             class="slider__image w-75 w-sm-100">
                    </div>
                    <div class="col-md-6">
                        <p class="slider__txt">Write us a story!</p>
                        <p class="slider__subText">As random as it could be
                            <br>In just 3 lines,
                            <br>You can't waste a Time!
                        </p>
                        <div class="w-100" style="position: relative;">
                            <a href="#" class="primaryButton">
                                <span class="text">Submit an Entry</span>
                                <span class="arrow-text" style="padding-left: 8%; font-size: large;">→</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__contents slider2">
                <div class="row bannerCon1">
                    <div class="col-md-6">
                        <img src="{% static 'haikuapp/images/person-writing2.png' %}"
                             class="slider__image w-75 w-sm-100">
                    </div>
                    <div class="col-md-6">
                        <p class="slider__txt">The joy of poetry</p>
                        <p class="slider__subText">empowers us to play with words
                            <br>Isn't it interesting and fun?
                            <br>as if flowers were dancing in the sun.
                        </p>
                        <div class="w-100" style="position: relative;">
                            <a href="#" class="primaryButton">
                                <span class="text">Submit an Entry</span>
                                <span class="arrow-text" style="padding-left: 8%; font-size: large;">→</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__contents slider3">
                <div class="slider3_content">
                    <div class="sliderTextBox p-4">
                        <p class="slider__txt" style="padding-top:0;">Do not rush, <br>Do not hush</p>
                        <p class="slider__subText">Keep your head thinking,
                            <br>keep your hands moving
                            <br>and write those thoughts!
                        </p>
                    </div>
                </div>
            </div>
            <div class="slider__contents"></div>
        </div>
    </div>
</div>

<!--Famous Haiku Posts -->
<div class="famousCon" style="background-image: url({% static 'haikuapp/images/doodle-bg2.png' %});">
    <div class="p-4 slide-right">
        <div class="boxHeader h4 p-3 mt-4 mb-4" data-aos="fade-right">
            <span>Famous Haiku</span>
        </div>
        <div class="d-flex justify-content-center flex-wrap w-100">
            <div class="p-3" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <div class="item-zoom"><img src="{% static 'haikuapp/images/famous1.png' %}"></div>
            </div>
            <div class="p-3" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <div class="item-zoom"><img src="{% static 'haikuapp/images/famous2.png' %}"></div>
            </div>
            <div class="p-3" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <div class="item-zoom"><img src="{% static 'haikuapp/images/famous3.png' %}"></div>
            </div>
            <div class="p-3" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <div class="item-zoom"><img src="{% static 'haikuapp/images/famous4.png' %}"></div>
            </div>
            <div class="p-3" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                <div class="item-zoom"><img src="{% static 'haikuapp/images/famous5.png' %}"></div>
            </div>
        </div>
    </div>
</div>


<!--Haiku Masters -->
<div class="mastersCon">
    <div class="row">
        <div class="col-md-7 masters-text p-4">
            <div class="text-light" style="padding: 5vw;">
                <div class="oopsText" data-aos="zoom-in">Ooops!</div>
                <div class="h2 pb-4">Know thy masters</div>
                <p>Matsuo Bashō, Yosa Buson, Fukuda Chiyo-ni, Kobayashi Issa, Masaoka Shiki are famous poets that are
                    known for writing haiku.</p>
                <p>They are not just famed for their haiku, but also for their poems.</p>
            </div>
        </div>
        <div class="col-md-5 masters-bg"
             style="background-image: url({% static 'haikuapp/images/haiku-masters.jpg' %});">
        </div>
    </div>
</div>

{% endblock content %}
