{% extends "haikuapp/base.html" %}
{% load static %}
{% block title %} Manager Options | Haiku Entries {% endblock title %}


{% block custom_css %}
<style>
    .container2{
        padding: 4% 0% 4% 0%;
    }
    .iconSize{
        width: 10px;
    }
    .list-group-item{
        border: 1px solid #bababa;
    }
</style>
{% endblock custom_css %}


{% block content %}
{% include "haikuapp/navigation_bar.html" %}

<div class="w-75 mx-auto container2">
    <div class="d-sm-flex pb-3 justify-content-between">
        <div class="h3">HAIKU ENTRIES</div>
        <!-- Add button -->
        <a class="btn btn-outline-magenta" href="/haiku_entries/add">
            <img src="{% static 'haikuapp/images/plus.png' %}" width="20px" class="align-middle">
            <span style="padding-left: 5px;">Add Entry</span>
        </a>
    </div>

    <!-- Calling all haiku entries -->
    <div class="list-group">
        <ul class="list-group">
            {% for h in haiku %}
            <li class="list-group-item">

                <div class="d-flex w-100 justify-content-between">
                    <div class="mb-2">
                        <span class="badge bg-yellow align-middle small">{{ h.entry_status }}</span>
                    </div>
                    <!-- dropdown menu -->
                    <div class="btn-group" title="more options">
                        <p type="button" class="" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'haikuapp/images/more.png' %}" width="20px"></p>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/update_haiku_entries/{{ h.encrypt_entry }}">Edit</a></li>
                            <li><a class="dropdown-item" href="#"> Delete</a></li>
                        </ul>
                    </div>
                </div>

                <h6 class="mb-3">{{ h.haiku_entry }}</h6>
                <div class="d-sm-flex w-100 small">
                    <div style="padding-right: 1.5%;">
                        <span class="h7 text-magenta fw-bold">Author:</span>
                        <span class="text-secondary">{{ h.author_alias }}</span>
                    </div>
                    <div style="padding-right: 1.5%;">
                        <span class="h7 text-magenta fw-bold">Email:</span>
                        <span class="text-secondary">{{ h.email }}</span>
                    </div>
                </div>
                <div class="mb-1 small">
                    <span class="h7 text-magenta fw-bold">Theme:</span>
                    <span class="text-secondary">{{ h.haiku_theme }}</span>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}