{% extends "haikuapp/base.html" %}
{% load static %}
{% block title %} Manager Options | Haiku Entries {% endblock title %}


{% block custom_css %}
<style>
    .container2{
        padding: 4% 0% 4% 0%;
    }


    @media only screen and (max-width: 768px) {
        .categCard{
            border: 1px solid black;
            width: 100%;
        }
    }
</style>
{% endblock custom_css %}


{% block content %}
{% include "haikuapp/navigation_bar.html" %}

<div class="container mx-auto row pt-4">
    <div class="col-lg-3 bg-light p-4">
        {% include 'haikuapp/category_section.html' %}
    </div>
    <div class="col-lg-9 bg-warning">..</div>
</div>

{% endblock %}

