/* FORM BUTTONS */
.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #808080;
    }
.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: #4d4d4d;
}
.button[disabled], input[type=submit][disabled], input[type=button][disabled] {
    opacity: 0.4;
}
.button.default, input[type=submit].default, .submit-row input.default {
    background: #f5b802;
}
.button.default:active, input[type=submit].default:active,
.button.default:focus, input[type=submit].default:focus,
.button.default:hover, input[type=submit].default:hover {
    background: #dba400;
}
.button[disabled].default,
input[type=submit][disabled].default,
input[type=button][disabled].default {
    opacity: 0.4;
}
a.section:link, a.section:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
a.section:focus, a.section:hover {
    text-decoration: none;
}


/* authentication and eimsapp */
.module h2, .module caption, .inline-group h2 {
    background: #ffc107;
}
.module caption{
    background-color: white;
    padding-top: 8%;
}
.module caption, .inline-group h2 {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: block;
    border-bottom: 2px solid black;
}
.object-tools a:link, .object-tools a:visited {
    background-color: #f5b802;
}
.object-tools a:focus, .object-tools a:hover {
    background-color: #dba400;
}
.object-tools a:focus{
    text-decoration: none;
}
a.deletelink-rev:link, a.deletelink-rev:visited,
a.deletelink-rev:focus, a.deletelink-rev:hover{
    color: #fff;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size:14px;
}
.section2{
    position: relative;
    background: #ffffff;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}
.sidebar.open ~ .section2{
    left: 250px;
    width: calc(100% - 250px);
}
body{
   min-width: 600px;
}


@media(min-width: 720px){
   .object-tools{
       margin-top:0;
       margin:0;
   }
}


/* -------------------------------------------- DJANGO Admin styles -------------------------------------------- */