/*********************** RESPONSIVE FOR 600px ***********************/
@media only screen and (max-width: 600px){
    .customCard{
        width: 100%;
    }
    .smBox{
        width: 80%;
        color: #f7f7f7;
    }
}

/*********************** RESPONSIVE FOR 768px ***********************/
@media only screen and (max-width: 768px) {
    .slider__txt, .slider__subText {
        text-align: center;
        padding: 0;
    }
    .sliderCon {
        height: 600px;
    }
    .primaryButton{
        position: relative;
    }
    .sliderTextBox{
        width:50vw;
        background:rgba(0, 0, 0, 0.6);
    }
    .item-zoom {
        width: 330px;
    }
    .slider__subText{
        font-size: 3vw;
    }
    .hiddenImg{
        display: none;
    }
}

/*********************** RESPONSIVE FOR 900px ***********************/
@media only screen and (max-width: 992px){
    #scrollAnimate{
        display: none;
    }
    .aboutUs{
        font-size: 7.8vw;
    }
    .mission, .mission-text{
        padding: 30% 5% 0% 5%;
    }
    .mission-text{
        padding: 0% 5% 30% 5%;
    }
} 