/*********************** RESPONSIVE FOR 600px ***********************/
@media only screen and (max-width: 600px){
    .customCard{
        width: 100%;
    }
}

/*********************** RESPONSIVE FOR 700px ***********************/
@media only screen and (max-width: 700px) {
    .slider__txt, .slider__subText {
        text-align: center;
        padding: 0;
    }
    .sliderCon {
        height: 600px;
    }
    .primaryButton{
        position: relative;
    }
    .sliderTextBox{
        width:50vw;
        background:rgba(0, 0, 0, 0.6);
}
}